<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	bootstrap="tests/bootstrap.php"
	enforceTimeLimit="true"
	>
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">src/</directory>
		</include>
		<report>
			<html outputDirectory="code-coverage" />
		</report>
	</coverage>
	<testsuites>
		<testsuite name="Expression Engine Tests">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
